@font-face {
    font-family: 'FranklinGot';
    src: url('../fonts/framd.eot');
    src: local('☺'), url('../fonts/framd.woff') format('woff'), url('../fonts/framd.ttf') format('truetype'), url('../fonts/framd.svg') format('svg'), ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FranklinBook';
    src: url('../fonts/Franklin Gothic Book Regular.eot');
    src: local('☺'), url('../fonts/Franklin Gothic Book Regular.woff') format('woff'), url('../fonts/Franklin Gothic Book Regular.ttf') format('truetype'), url('../fonts/Franklin Gothic Book Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 600;
    background-color: #fff;
}

.titles {
    font-family: FranklinGot, sans-serif;
}

.navigation {
    height: 60px;
    background-color: #344051;
    position: fixed;
    z-index: 99;
}

.logo {
    font-family: FranklinGot, sans-serif;
    padding-top: 22px;
    font-size: 18px;
    color: #fff;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

@keyframes comming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu {
    padding-top: 1px;
}

.navigation__buttons>li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-left: 35px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    transform: scale(1);
    transition: all 0.1s;
    opacity: 0;
}

.navigation__buttons>li:active {
    transform: scale(1.1);
}

.navigation__buttons li:nth-child(2) {
    animation-delay: 0.4s;
}

.navigation__buttons li:nth-child(3) {
    animation-delay: 0.8s;
}

.navigation__buttons li:nth-child(4) {
    animation-delay: 1.2s;
}

.navigation__buttons li:nth-child(5) {
    animation-delay: 1.6s;
}

.navigation__buttons li:nth-child(6) {
    animation-delay: 2s;
}

.navigation__buttons li a {
    font-family: FranklinGot, sans-serif;
    transition: all 0.1s;
    color: #fff;
    text-decoration: none;
}

.navigation__buttons li a:visited {
    color: #fff;
}

.navigation__buttons li a:hover {
    color: #e88604;
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.nav__menu>a {
    color: #fff;
}

main {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title__container {
    font-family: 'FranklinGot', sans-serif;
    height: auto;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}

.title__container h1 {
    width: 100%;
    font-size: 56px;
    font-weight: bold;
}

.title__container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__container input {
    height: 40px;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover {
    background: #344051;
    color: #fff;
}

.title__container input:active {
    transform: scale(1.1);
}

.bio__container {
    width: 100%;
    padding-top: 108px;
    box-shadow: 0 -40px 44px 1px rgba(0, 0, 0, .2);
    background: url(../img/boy-small.png) center 45% no-repeat;
}

.bio__container h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #263244;
}

.underline {
    margin: 20px auto 108px auto;
    width: 74px;
    height: 4px;
    background: url(../img/underline-title.png) center no-repeat;
}

.bio__container .underline {
    margin-bottom: 30px;
}

.bio__text {
    font-weight: normal;
    margin-top: 300px;
    padding-bottom: 36px;
    color: #3f495a;
}

.bio__container button {
    font-family: FranklinBook, sans-serif;
    font-size: 15px;
    padding: 7px 7px 7px 7px;
    border: 2px solid #6d7682;
    border-radius: 5px;
    color: #6d7682;
    transform: scale(1);
    transition: all 0.2s ease;
}

.download__box {
    margin-bottom: 97px;
}

.download__button i {
    padding-right: 3px;
}

.bio__container button:hover {
    background: #344051;
    color: #fff;
}

.bio__container button:active {
    transform: scale(1.1);
}

.skills__container {
    background: url(../img/bg-skills.jpg) center/cover no-repeat;
    width: 100%;
    padding-bottom: 50px;
}

.skills__container h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #263244;
    padding: 105px 0px 0px 10px;
}

.skills__boxes {
    animation-duration: 3s;

}

.skills__boxes-names {
    font-family: Bahnschrift, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #cf7600;
    margin-top: 35px;
}

.boxes__descriptions {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    margin: auto;
    width: 215px;
    color: #3f495a;
}

.cases__container h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #263244;
    margin-top: 108px;
}

.case__example {
    margin: 50px auto;
}

.case__example>img {
    width: 100%;
    height: auto;
}

.client__box h3,
.project__name {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #263244
}

.client {
    font-family: FranklinGot, sans-serif;
    font-weight: bold;
    color: #3f495a;
}

.client__name {
    font-family: Calibri, sans-serif;
    font-weight: 400;
}

.project__discription {
    font-family: Calibri, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #3f495a;
    line-height: 20px;
}

.project__link,
.calc__sub {
    margin: 22px 0px 80px 0px;
    font-size: 15px;
    padding: 9px 22px;
    background: #00b6af;
    border: 2px solid #00b6af;
    border-radius: 5px;
    color: #fff;
    transition: all 0.2s ease;
    transform: scale(1);
}

.calc__sub:hover {
    background: #344051;
    color: #fff;
}

.calc__sub:active {
    transform: scale(1.1);
}

.project__link:hover {
    background: #344051;
    color: #fff;
}

.project__link:active {
    transform: scale(1.1);
}

.price__container {
    margin: 50px 0 40px;
}

.price__shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.price__container h2 {
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
}

.price__inputs {
    margin-left: 494px;
    width: 892px;
    margin-bottom: 154px;
}

.price__select-names {
    font-family: Calibri, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.price__selects {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    appearance: none;
    background: #f1f1f1 url(../img/arrow-select.png) no-repeat right/15px;
    background-position-x: 850px;
}

.form-select {
    font-family: Calibri, sans-serif;
    color: #747474;
    margin-bottom: 40px;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    appearance: none;
    background: #f1f1f1 url(../img/arrow-select.png) no-repeat right/15px;
    background-position-x: 96%;
}

.underline__grey {
    height: 2px;
    width: 100%;
    background: url(../img/underline-price.jpg) center no-repeat;
}

.calc__final {
    font-family: Calibri, sans-serif;
    font-size: 20px;
}

.stats__container {
    width: 100%;
    height: auto;
    background: url(../img/bg-stats.jpg) center no-repeat fixed;
    padding-bottom: 50px;
}

.stats__container .underline {
    margin-bottom: 70px;
}

.stats__container h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
    padding-top: 85px;
}

.stats__number {
    font-size: 35px;
    margin-top: 26px;
    color: #323e4f;
    font-weight: bold;
}

.stats__text {
    margin-top: 30px;
    color: #323e4f;
    text-transform: uppercase;
    font-weight: 600;
}

.reviews__container {
    width: 100%;
    height: 600px auto;
    margin-top: 74px;
    padding-top: 20px;
}

.reviews__container h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
}

.reviews__container .underline {
    margin-bottom: 50px;
}

.reviews__text {
    font-family: Calibri, sans-serif;
    letter-spacing: -1px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.reviewer {
    font-family: Calibri, sans-serif;
    letter-spacing: -1px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.form-check {
    margin-right: 0px;
    margin-bottom: 40px;
}

.contacts__container {
    background: url(../img/bg-contacts-no_social.jpg) center/cover no-repeat;
    height: 630px auto;
}

.cases__container .underline {
    margin-bottom: 35px;
}

.contacts__container h2 {
    font-family: FranklinGot, sans-serif;
    padding-top: 106px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    overflow: visible;
}

.contacts__container .underline {
    margin-bottom: 35px;
}

.contacts__text {
    font-family: Calibri, sans-serif;
    text-align: center;
    color: #fff;
}

.contacts__boxes {
    margin-left: 528px;
}

.contacts__box {
    margin-top: 20px;
    color: #fff;
    line-height: 15px;
}

.contacts__img {
    margin-bottom: 17px;
}

.contacts__container h3 {
    margin-top: 38px;
    margin-bottom: 45px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.contacts__name {
    width: 100%;
    height: 33px;
    padding-left: 16px;
    background: #d2d6dc;
}

.contacts__email {
    width: 100%;
    height: 33px;
    padding-left: 16px;
    background: #d2d6dc;
}

.contacts__msg {
    margin-top: 15px;
    padding: 8px 16px;
    width: 100%;
    height: 95px;
    background: #d2d6dc;
    overflow: scroll;
    resize: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.contacts__button {
    margin: 30px 0px 30px;
    height: 40px;
    text-align: center;
    border: 2px solid #fff;
    background: none;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 0px 16px;
    transform: scale(1);
    transition: all 0.2s;
}

.contacts__button:hover {
    background: #fff;
    color: #000;
}

.contacts__button:active {
    transform: scale(1.1);
}

footer {
    width: 100%;
    height: auto;
    background: #354051;
}

.footer__text {
    font-family: Arial, sans-serif;
    font-weight: normal;
    padding: 40px 0px 30px;
    color: #fff;
}

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

@media (max-width: 991px) {

    .title__container,
    .title__container h4,
    .title__container input {
        color: #fff;
        position: relative;
        z-index: 3;
    }

    .title__container input {
        border: 2px solid #fff;
    }

    main {
        position: relative;
    }

    main::after {
        z-index: 2;
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
    }



    @keyframes titlemove {
        0% {
            margin-left: -100px;
        }

        40% {
            opacity: 0;
        }

        100% {
            opacity: 1;
            margin-left: 0px;
        }
    }
}

@media (max-width: 575px) {
    .contacts__container .titles {
        padding-top: 15px;
    }

    .contacts__container .underline {
        margin-bottom: 10px;
    }

    .contacts__container textarea {
        height: 102px;
    }

    .contacts__button {
        margin-top: 10px;
    }
}

@media (max-width: 520px) {

    .logo {
        font-size: 16px;
    }

    #dropdownMenuLink {
        margin-top: 15px;
    }

    .title__container h1 {
        font-size: 54px;
    }


}