body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.navigation {
    width: 100%;
    height: 60px;
    background-color: #344051;
    position: fixed;
    z-index: 1;
}

.logo {
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    /* padding-left: 388px; */
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

@keyframes comming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu {
    float: left;
    /* padding-left: 432px; */
}

.navigation__buttons>li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.navigation__buttons li:nth-child(2) {
    animation-delay: 0.4s;
}

.navigation__buttons li:nth-child(3) {
    animation-delay: 0.8s;
}

.navigation__buttons li:nth-child(4) {
    animation-delay: 1.2s;
}

.navigation__buttons li:nth-child(5) {
    animation-delay: 1.6s;
}

.navigation__buttons li:nth-child(6) {
    animation-delay: 2s;
}

.navigation__buttons li a {
    transition: all 0.1s;
    color: #fff;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.navigation__buttons li a:visited {
    color: #fff;
}

.navigation__buttons li a:hover {
    color: #e88604;

}

.navigation__buttons li a:active {
    transform: scale(1.1);
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

main {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title__container {
    float: left;
    height: auto;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 404px;
    }
}

.title__container h1 {
    font-size: 60px;
    font-weight: bold;
}

.title__container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover {
    background: #344051;
    color: #fff;
}

.title__container input:active {
    transform: scale(1.1);
}

.bio__container {
    width: 100%;
    padding-top: 108px;
    text-align: center;
    box-shadow: 0 -40px 44px 1px rgba(0, 0, 0, .2);
    background: url(../img/underline-title.jpg) center 23% no-repeat, url(../img/boy-small.png) center 45% no-repeat;
}

.bio__container h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #263244;
}

.bio__text-box {
    margin: 318px 0px 35px 0px;
}

.bio__text {
    padding: 0px 595px;
    text-align: left;
    color: #3f495a;
}



/* .bio__container input {
    font-size: 15px;
    padding: 7px 7px 7px 30px;
    margin-bottom: 97px;
    border: 2px solid #6d7682;
    background-image: url(../img/download.png);
    background-repeat: no-repeat;
    background-position: 10px 8px; 
    border-radius: 5px;
    color: #6d7682;
    transform: scale(1);
    transition: all 0.2s ease;

} */

.bio__container button {
    font-size: 15px;
    padding: 7px 7px 7px 7px;
    margin-bottom: 97px;
    border: 2px solid #6d7682;
    border-radius: 5px;
    color: #6d7682;
    transform: scale(1);
    transition: all 0.2s ease;

}

.download__button i{
    padding-right: 3px;
}

.bio__container button:hover {
    background: #344051;
    color: #fff;
}

.bio__container button:active {
    transform: scale(1.1);
}

.skills__container {
    background: url(../img/underline-title.png) center 30% no-repeat, url(../img/bg-skills.jpg) center no-repeat;
    width: 100%;
    height: 55%;
}

.skills__container h2 {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #263244;
    padding: 105px 0px 140px 0px;
}

.skills__boxes {
    margin-left: 420px;
    animation-duration: 10s;
}



.skills__boxes>li {
    height: 190px;
    float: left;
    text-align: center;
    margin-left: 43px;
}

.skills__boxes-names {
    font-size: 18px;
    font-weight: bold;
    color: #cf7600;
    margin-top: 35px;
}

.boxes__descriptions {
    margin: 20px 0px 70px 0px;
    width: 215px;
    color: #3f495a;
}

.cases__container {
    width: 100%;
    background: url(../img/underline-title.jpg) center 14% no-repeat;
}

.cases__container h2 {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #263244;
    padding: 105px 0px 70px 0px;
}

.casses__undertext {
    text-align: center;
}

.casses__imgs {
    margin: 40px 367px;
}

.client__container {
    width: 1136px;
    margin-left: 388px;
}

.client__box {
    float: left;
    margin-right: 104px;
}

.client__container h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #263244;
    padding: 15px 0px;
}

.client {
    color: #3f495a;
}

.project__discription {
    color: #3f495a;
    line-height: 20px;
    padding-bottom: 80px;
}

.project__link {
    margin: 22px 0px;
    font-size: 15px;
    padding: 9px 22px;
    background: #63b5ae;
    border: 2px solid #63b5ae;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
}

.price__container {
    width: 100%;
}

.price__container h2 {
    margin: 200px 0px 54px 0px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
}

.price__inputs {
    margin-left: 494px;
    width: 892px;
    margin-bottom: 154px;
}

.price__selections {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #263244;
}



.price__select-names {
    margin-bottom: 22px;
}

.price__selects {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    appearance: none;
    background: #f1f1f1 url(../img/arrow-select.png) no-repeat right/15px;
    background-position-x: 850px;
}

.price__final {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #263244;
    margin-top: 20px;
}

.stats__container {
    width: 100%;
    height: 50%;
    background: url(../img/underline-title.png) center 30% no-repeat, url(../img/bg-stats.jpg) center no-repeat fixed;
}

.stats__container h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
    padding-top: 85px;
}

.stats__boxes {
    margin: 126px 0px 0px 255px;
}

.stats__box {
    float: left;
    text-align: center;
    margin-left: 150px;
}

.stats__number {
    font-size: 35px;
    margin-top: 26px;
    color: #323e4f;
    font-weight: bold;
}

.stats__text {
    margin-top: 30px;
    color: #323e4f;
    text-transform: uppercase;
    font-weight: 600;
}

.reviews__container {
    width: 100%;
    height: 50%;
    margin-top: 104px;
    background: url(../img/underline-title.jpg) center 12% no-repeat, url(../img/review-pic.png) center 30% no-repeat;
}

.reviews__container h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #263244;

}

.reviews__text {
    margin: 233px 0px 36px 570px;
    width: 40%;
    text-align: center;
}

.reviewer {
    text-align: center;
}

.choice__box {
    margin-left: 930px;
    margin-top: 30px;
}

.contacts__container {
    background: url(../img/underline-title.png) center 22% no-repeat, url(../img/bg-contacts.jpg) center/cover no-repeat;
    height: 80%;
}

.contacts__container h2 {
    padding-top: 106px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.contacts__text {
    margin-top: 68px;
    text-align: center;
    color: #fff;
}

.contacts__boxes {
    margin-left: 528px;
}

.contacts__box {
    color: #fff;
    display: inline-block;
    text-align: center;
    margin-left: 100px;
    margin-top: 44px;
    line-height: 15px;
}

.contacts__img {
    margin-bottom: 17px;
}

.contacts__container h3 {
    margin-top: 38px;
    margin-bottom: 45px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.contacts__inputs {
    width: 40%;
    margin-left: 30%;
}

.contacts__name {
    width: 48.4%;
    height: 33px;
    padding-left: 16px;
    background: #d2d6dc;
}

.contacts__email {
    margin-left: 20px;
    width: 48.4%;
    height: 33px;
    padding-left: 16px;
    background: #d2d6dc;
}

.contacts__msg {
    margin-top: 15px;
    padding: 8px 16px;
    width: 100%;
    height: 95px;
    background: #d2d6dc;
    overflow: scroll;
    resize: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.contacts__button {
    height: 40px;
    text-align: center;
    border: 2px solid #fff;
    background: none;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 0px 16px;
    margin: 20px 14px 0px 897px;
    transform: scale(1);
    transition: all 0.2s;
}

.contacts__button:hover {
    background: #fff;
    color: #000;
}

.contacts__button:active {
    transform: scale(1.1);
}

.footer {
    width: 100%;
    height: 95px;
    background: #354051;
}

.footer__text {
    text-align: center;
    padding-top: 40px;
    color: #fff;
}

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}